@model System.Collections.Generic.List<WebProjects.Models.Data.Project>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-6">
        <h2>Listado de proyectos activos</h2>
    </div>
    <div class="col-6">
        <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modal-add-project">
            <i class="fa fa-plus"></i>
        </button>
    </div>
</div>


<div class="row">
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Cantidad de tareas</th>
                <th></th>
            </tr>
            
            @foreach (var project in Model)
            {
                <tr>
                    <td>@project.ProjectId</td>
                    <td>@project.ProjectName</td>
                    <td>@project.ProjectTasks?.Count</td>
                    <td>
                        @if (project.ProjectTasks != null)
                        {
                            <table class="table">
                                <tr>
                                    <th>Id</th>
                                    <th>Tarea</th>
                                </tr>
                                    
                            
                                @foreach (var task in project.ProjectTasks)
                                {
                                    <tr>
                                        <td>@task.ProjectTaskId</td>
                                        <td>@task.ProjectTaskName</td>
                                    </tr>
                                }
                            
                            
                            </table>
                            
                        }
                    </td>
                </tr>
            }
            
        </table>
    </div>
</div>

@await Html.PartialAsync("_ModalAddProject")
